*{
	padding: 0;
	margin: 0;
}

/*css phan header*/

#header{
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	margin: 0px 0px 40px 0px;
}

#header .menu{
	height: 75px;
	line-height: 75px;
	text-align: center;
	margin-bottom: 20px;
}

#header .menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 20px;
}

.menu a:hover{
	border-bottom: 5px solid orange;
}

.slide{
	text-align: center;
	line-height: 250px;
	width: 1150px;
	height: 250px;
}
/*het css phan header*/

/*css phan body*/

.text ul li{
	margin-left: 20px;
}

.bg-2 img{
	width: 540px;
}

/*Het css phan body*/

/*css product*/

.product{
	padding-top: 60px;
	background-color:  #f9f5f5;
	margin: 30px 0px 0px 0px;
}
/*het css phan product*/

.info{
	background-color:  #f9f5f5;
	padding-bottom: 20px;
}

.col-lg-2{
	margin-left: 31px;
	background-color: #fff;
}

.col-lg-2 img{
	width: 160px;
	height: 110px;
}

.col-lg-2 .first {
	padding-top: 10px;
	padding-bottom: 5px;	
	font-weight: bold;
	margin: 0;
}

/*.col-md-12{
	margin: 10px 10px 10px 0px;
	padding: 20px;
	text-align: center;
}
*/
/*het css product*/

/*css phan news*/

.news{
	padding-top: 50px;
}

.news-1{
	background-image: url(images/curve.png);
	background-repeat: no-repeat;
}

.news-1 h2{
	padding-top: 20px;
}

.col-lg-4{
	padding-left: 15px;
}

.col-lg-4 img{
	width: 330px;
	height: 200px;
}

.footer{
	margin-top: 50px;
	background-color: #f9f5f5;
	clear: both;
	height: 300px;
	text-align: center;
}

.footer .footer-1{
	margin-top: 50px;
	color: gray;
}

.col-lg-12{
	clear: both;
	height: 250px;
}