*{
	margin: 0;
	padding: 0;
}

#big{
	border: 1px dotted black;
	margin: 5px 5px 5px 5px;
}

#medium{
	border: 1px solid black;
	margin: 10px 30px 10px 10px;
}

.div-1 , .div-2{
	border: 1px dotted black;
}

.div-1, .div-2{
	margin: 10px 10px 10px 10px;
}

.div-1{
	margin-top: 20px;
}